 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto+Slab&family=Ysabeau+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Pacifico&family=Playfair+Display:wght@500&family=Roboto+Slab&family=Ysabeau+Infant&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
}

:root{
    --background: #3D087B;
    --white: #FFFFFF;
    --border: #dbd8d8; 
    --time-box-background: #F6E2FF;
    --time-text-up: #8A11BF;
    --time-text-down: #5F0089;
    --statement-text: #8E53F0;
    --input-option: #3D087BDE;
    --pink: #F25CFE;
    --gradient1: #6E54EC;
    --gradient2: #CB52F8;
    --gradient3: #FC5EFF;
}

html{
    background: var(--background);
}

.main-container{
    padding: 0px 8px;
}

.logo-div{
   background-color: var(--background);
   padding: 0vw 2vw;
   width: 94vw;
    z-index: 3;
    position: sticky;
    top: 0px;
}

.logo{
    width: 25vw; 
    padding: 10px 0px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.main-container-2{
    padding: 0vw 1vw; 
    margin: 2vw auto;
}

.shadowDiv-main{
    position: relative;
    top: 0%;
    width: 95vw;
}

.clockDiv{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 2%;
    background: var(--white);
    transition: all 0.2s linear;
}

.clockDiv div{
    margin: 0px 5px;
    text-align: center;
    display: flex;
    align-items: center;
}

.time{
    color: var(--background);
    font-weight: bold;
    letter-spacing: 1px;
}

.hour:hover{
    transform: translate(0px, -4px);
}

.hour{
    background-color: var(--time-box-background);
    padding: 5px;
    color: var(--time-text-up);
    transition: all 0.2s linear;
}

.minute{
    background-color: var(--time-box-background);
    padding: 5px;
    color: var(--time-text-up);
}

.second{
    background-color: var(--time-box-background);
    padding:5px;
    color: var(--time-text-up);
}

.am_pm{
    background-image: linear-gradient( #6E54EC 0%, rgba(232, 26, 255, 0.707) 100%);
    padding: 4px;
    font-size: 20px;
    color: white;
}

.shadowDiv-1{
    background: rgb(255, 255, 255);
    opacity: 0.7;
    z-index: -1;
    position: absolute;
    top: 55%;
    right:2.5%;
    padding: 2.5%;
    width: 85vw;
}

.shadowDiv-2{
    background: rgb(255, 255, 255);
    opacity: 0.3;
    z-index: -2;
    position: absolute;
    top: 69%;
    right: 8%;
    padding: 2.5%;
    width: 75vw;
}

.statement-1{
    background: var(--white);
    color: var(--background);
    text-align: center;
    width: 95vw;
    padding: 4vw 0vw;
    position: absolute;
    font-size: 6vw;
    top: 42vw;
    font-family: 'Pacifico', cursive;
}

.set-time-container{
    background: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 2.5vw;
    color: var(--background);
    box-shadow: 2px 2px 10px rgba(35, 35, 35, 0.3);
    position: absolute;
    top: 65vw;
    width: 90vw;
}

.icon{
    display: flex;
    justify-content: start;
    align-items: center;
}

select{
    width: 90vw;
    padding: 10px;
    text-align: center;
    color: var(--input-option);
    outline-color: gray;
    border: 1px solid var(--border);
    margin: 2vw 0vw;
    transition: all 0.1s linear;
    font-family: 'Ysabeau Infant', sans-serif;
}

select:focus{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.159);
}

option{
    color: var(--background);
    transition: all 0.1s linear;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 100;
    text-align: center;
}

.wake-up-line{
    text-align: center;
    color: rgba(128, 128, 128, 0.927);
    display: none;
}

.input-blocks{
    padding: 10px;
    font-size: 4vw;
    transition: all 0.2s linear;
}

.input-blocks img{

    width: 5vw;
}

.input-blocks img:hover{
    transform: translate(0px,-3px);
}

.image{
    position: absolute;
    top: 172vw;
    width: 95vw;
}

.image-acc-time{
    width: 95vw;
}

.statement-2{
    position: absolute;
    top: 240vw;
    background: var(--statement-text);
    width: 90vw; 
    padding: 3vw;
    text-align: center;
    color: var(--white);
    font-size: 6vw;
    font-weight: bold;
    font-family: 'Ysabeau Infant', sans-serif;
    animation-name: wave;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.clock-boy{
    display: none;
}
@keyframes wave{
    0% {
      color: transparent;
    }
    50% {
      color: white;
    }
    100%{
        color: transparent; 
    }
  }

.set-time{
    position: absolute;
    top: 258vw;
    width: 95vw;
    padding: 1vw 0vw;
}

.set-time p{
    padding: 1vw;
    margin: 3px 0px;
    text-align: center;
    color: white;
    font-family: 'Ysabeau Infant', sans-serif;
    backdrop-filter: blur(10px);
    border: 1px solid whitesmoke;
    transition: all 0.1s linear; 
}

.set-time p:hover{
    background-color: rgba(255, 255, 255, 0.211);
    letter-spacing: 2px;
    font-size: 3vw;
}

.set-alarm-button{
    width: 95vw;
    position: absolute;
    top: 298vw;
    padding: 10px; 
    border-radius: 2px;
    border: 2px solid transparent; 
    color: rgba(255, 255, 255, 0.873);
    font-size: 5vw;
    background-image: linear-gradient(90deg, #6E54EC, rgba(232, 26, 255, 0.871));
    transition: all 0.2s linear;
    letter-spacing: 1px;
}

.set-alarm-button:hover{
    background-image: linear-gradient(90deg, #5b3eee, rgba(219, 19, 242, 0.871));
    letter-spacing: 2px;
    }

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background); 
  }

  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, #5b3eee, rgba(219, 19, 242, 0.871));
    border-radius: 50%;
  }


  /* .clock-boy{
    position: absolute;
    top: 0px;
    width: 0px;
    height: 0px;
} */
